<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="org.tarena.note.dao.ActivityDao">

	<select id="findActivities" resultType="org.tarena.note.entity.Activity">
		select *
		from cn_activity
		order by cn_activity_end_time desc
	</select>

	<select id="findByActivityId" parameterType="org.tarena.note.util.Page"
		resultType="org.tarena.note.entity.NoteActivity">
		select *
		from cn_note_activity
		where cn_activity_id=#{keyword} limit #{begin},#{pageSize}
	</select>

	<select id="findByNoteActivityId" parameterType="string"
		resultType="org.tarena.note.entity.NoteActivity">
		select *
		from cn_note_activity
		where cn_note_activity_id=#{noteActivityId}
	</select>

	<select id="findByNoteId" parameterType="string"
		resultType="org.tarena.note.entity.NoteActivity">
		select *
		from cn_note_activity
		where cn_note_id=#{noteId}
	</select>

	<select id="findByUser" parameterType="string"
		resultType="org.tarena.note.entity.NoteActivity">
		select *
		from cn_note_activity
		where cn_note_id in
		(select cn_note_id
		from cn_note
		where cn_user_id=#{userId})
	</select>

	<insert id="save" parameterType="org.tarena.note.entity.NoteActivity">
		insert into cn_note_activity
		(cn_note_activity_id,
		cn_activity_id,
		cn_note_id,
		cn_note_activity_up,
		cn_note_activity_down,
		cn_note_activity_title,
		cn_note_activity_body)
		values
		(#{cn_note_activity_id},
		#{cn_activity_id},
		#{cn_note_id},
		#{cn_note_activity_up},
		#{cn_note_activity_down},
		#{cn_note_activity_title},
		#{cn_note_activity_body})
	</insert>

	<update id="update" parameterType="org.tarena.note.entity.NoteActivity">
		update cn_note_activity
		<set>
			<if test="cn_note_activity_id != null">
				cn_note_activity_id=#{cn_note_activity_id},
			</if>
			<if test="cn_activity_id != null">
				cn_activity_id=#{cn_activity_id},
			</if>
			<if test="cn_note_id != null">
				cn_note_id=#{cn_note_id},
			</if>
			<if test="cn_note_activity_up != null">
				cn_note_activity_up=#{cn_note_activity_up},
			</if>
			<if test="cn_note_activity_down != null">
				cn_note_activity_down=#{cn_note_activity_down},
			</if>
			<if test="cn_note_activity_title != null">
				cn_note_activity_title=#{cn_note_activity_title},
			</if>
			<if test="cn_note_activity_body != null">
				cn_note_activity_body=#{cn_note_activity_body},
			</if>
		</set>
		where cn_note_id=#{cn_note_id}
	</update>
	<delete id="delete" parameterType="string">
		delete from
		cn_note_activity
		where cn_note_activity_id=#{noteActivityId}
	</delete>

</mapper>