<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
 <mapper namespace="org.tarena.note.dao.LikeDao">
 
 <insert id="save" parameterType="org.tarena.note.entity.Like">
 	insert into cn_like(cn_like_id,cn_user_id,cn_note_id,cn_like_type_id,cn_like_last_modify_time,cn_share_title,cn_share_body)
 	values (#{cn_like_id},#{cn_user_id},#{cn_note_id},#{cn_like_type_id},#{cn_like_last_modify_time},#{cn_share_title},#{cn_share_body})
 </insert>
 
 <select id="findByNoteId" parameterType="string" resultType="org.tarena.note.entity.Like">
	select * from cn_like where cn_note_id=#{noteId} 
 </select>
 
 <select id="findByUserId" parameterType="string" resultType="org.tarena.note.entity.Like">
 	select * from cn_like where cn_user_id=#{userId}
 </select>
 
 <select id="findByNoteUserId" parameterType="map" resultType="org.tarena.note.entity.Like">
 	select * from cn_like where cn_user_id=#{userId} and cn_note_id=#{noteId}
 </select>
 
 <update id="updateLike" parameterType="org.tarena.note.entity.Like">
 	update cn_like 
 	<set>
 		<if test="cn_share_title != null">
 			cn_share_title=#{cn_share_title},
 		</if>
 		<if test="cn_share_body != null">
 			cn_share_body=#{cn_share_body},
 		</if>
 	</set> 
 	where cn_like_id=#{cn_like_id}
 </update>
 
  <select id="findByLikeId" parameterType="string" resultType="org.tarena.note.entity.Like">
 	select * from cn_like where cn_like_id=#{likeId}
 </select>
 
 <delete id="deleteLike" parameterType="string">
 	delete from cn_like where cn_like_id=#{likeId}
 </delete>
 
</mapper>