<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
<mapper namespace="org.tarena.note.dao.UserDao">
 <!-- 只是说明与哪个实体类对应 --> 
 <select id="findByName" parameterType="string" resultType="org.tarena.note.entity.User">
 	select * from cn_user where cn_user_name=#{name}
 </select>
 
 <select id="findPwd" parameterType="string" resultType="string">
 	select cn_user_password from cn_user where cn_user_id=#{userId}
 </select>
 
 <select id="findAll" parameterType="string" resultType="org.tarena.note.entity.User">
 	select * from cn_user where cn_user_id=#{userId}
 </select>
 
 <insert id="save" parameterType="org.tarena.note.entity.User">
 	insert into cn_user(cn_user_id,cn_user_name,cn_user_password,
 		cn_user_token,cn_user_desc) values(#{cn_user_id},#{cn_user_name},
 		#{cn_user_password},#{cn_user_token},#{cn_user_desc})  
 </insert>
 
 <update id="updatePwd" parameterType="string">
 	update cn_user set cn_user_password=#{userPwd}
 </update>
 
</mapper>